/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.d-block {
    @apply block;
  }
  .d-flex {
    @apply flex;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
  }
  @font-face {
    font-family: ClashDisplay;
    src: url(../assets/fonts/ClashDisplay-Bold.ttf);
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: ClashDisplay;
    src: url(../assets/fonts/ClashDisplay-Semibold.ttf);
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-family: ClashDisplay;
    src: url(../assets/fonts/ClashDisplay-Medium.ttf);
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: ClashDisplay;
    src: url(../assets/fonts/ClashDisplay-Regular.ttf);
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: ClashDisplay;
    src: url(../assets/fonts/ClashDisplay-Light.ttf);
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf);
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter_28pt-Bold.ttf);
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter_28pt-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter_28pt-Regular.ttf);
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "IBM Plex Sans";
    src: url(../assets/fonts/IBMPlexSans-Medium.ttf);
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: "Red Hat Display";
    src: url(../assets/fonts/RedHatDisplay-Regular.ttf);
    font-style: normal;
    font-weight: 400;
  }
  * {
    @apply box-border m-0 p-0;
    -webkit-box-sizing: border-box;
  }
  :root {
    --bg-color: #051139;
    --purple: #6a65ff;
    --purple-dark: #9c99ff;
    --transition: 0.3s ease;
  }
  body {
    @apply bg-[color:var(--bg-color)];
  }
  body,
  html {
    @apply overflow-x-hidden;
  }
  a {
    @apply no-underline text-[initial];
  }
  button {
    @apply cursor-pointer border bg-transparent text-base font-semibold text-white text-center w-[126px] transition-all duration-[var(--transition)] p-2 rounded-lg border-solid border-white hover:bg-[color:var(--purple)];
    outline: 0;
    font-family: ClashDisplay;
    -webkit-transition: all var(--transition);
    -o-transition: all var(--transition);
  }
  .fill-btn {
    @apply bg-[color:var(--purple)] w-[220px] p-[14.5px] border-[none] hover:bg-[color:var(--purple-dark)];
  }
  .container {
    @apply max-w-[1440px] mx-auto my-0 px-[66px] py-0;
  }
  .banner {
    @apply mt-[300px];
  }
  .banner__blur-img {
    @apply absolute;
  }
  .banner__blur-1 {
    @apply left-[-15%] opacity-50 w-[600px] h-[600px] top-[10%];
    background: -o-radial-gradient(
      circle,
      rgba(30, 80, 255, 0.7904411764705882) -30%,
      rgba(30, 80, 255, 0) 70%
    );
    background: radial-gradient(
      circle,
      rgba(30, 80, 255, 0.7904411764705882) -30%,
      rgba(30, 80, 255, 0) 70%
    );
  }
  .banner__blur-2 {
    @apply opacity-80 w-[720px] h-[720px] left-[20%] top-0;
    background: -o-radial-gradient(
      circle,
      rgba(156, 8, 255, 0.8156512605042017) -10%,
      rgba(156, 8, 255, 0) 70%
    );
    background: radial-gradient(
      circle,
      rgba(156, 8, 255, 0.8156512605042017) -10%,
      rgba(156, 8, 255, 0) 70%
    );
  }
  .banner__blur-3 {
    @apply right-[-6%] opacity-30 w-3/5 h-full top-[5%];
    background: -o-radial-gradient(
      circle,
      rgba(156, 8, 255, 0.8156512605042017) 0,
      rgba(156, 8, 255, 0) 55%
    );
    background: radial-gradient(
      circle,
      rgba(156, 8, 255, 0.8156512605042017) 0,
      rgba(156, 8, 255, 0) 55%
    );
  }
  .banner__blur-4 {
    @apply opacity-70 w-[520px] h-[520px] right-[9%] top-[62%];
    background: -o-radial-gradient(
      circle,
      rgba(30, 80, 255, 0.7904411764705882) -30%,
      rgba(30, 80, 255, 0) 70%
    );
    background: radial-gradient(
      circle,
      rgba(30, 80, 255, 0.7904411764705882) -30%,
      rgba(30, 80, 255, 0) 70%
    );
  }
  .banner__content {
    @apply flex justify-between gap-10 relative z-[1];
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  }
  .banner__text {
    @apply flex flex-col gap-6 w-6/12;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
  .banner__text-title {
    @apply text-[64px] font-semibold leading-[74px] text-white;
    font-family: ClashDisplay;
  }
  .banner__text-description {
    @apply text-base font-normal leading-7 text-white;
    font-family: Poppins;
  }
  .banner__text-btn {
    @apply mt-2;
  }
  .banner__video {
    @apply w-6/12 h-auto relative;
  }
  .banner__video-img {
    @apply w-full h-full object-contain block;
    -o-object-fit: contain;
  }
  .banner__video-play,
  .banner__video-play__mobile {
    @apply flex items-center gap-[11px] bg-white cursor-pointer w-[-webkit-fit-content] w-[-moz-fit-content] w-fit absolute -translate-x-2/4 transition-all duration-[var(--transition)] px-[17px] py-3 rounded-[100px] left-2/4 top-1/4;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transition: all var(--transition);
    -o-transition: all var(--transition);
  }
  .banner__video-play span,
  .banner__video-play__mobile span {
    @apply bg-[color:var(--purple)] w-[94px] h-[94px] min-w-[94px] min-h-[94px] relative rounded-[1000px];
  }
  .banner__video-play span::after,
  .banner__video-play__mobile span::after {
    @apply content-[url(../assets/icons/button-play.svg)] absolute -translate-x-2/4 -translate-y-2/4 left-2/4 top-[calc(50%_+_2px)];
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .banner__video-play p,
  .banner__video-play__mobile p {
    @apply text-2xl font-semibold leading-7 text-black;
    font-family: ClashDisplay;
  }
  .banner__video-play:hover,
  .banner__video-play__mobile:hover {
    @apply -translate-x-2/4 shadow-[0_0_20px_#b8b8b8] scale-[1.02];
    -webkit-transform: scale(1.02) translateX(-50%);
    -ms-transform: scale(1.02) translateX(-50%);
    -webkit-box-shadow: 0 0 20px #b8b8b8;
  }
  .banner__video-play__mobile {
    @apply hidden;
  }
  .offer {
    @apply flex flex-col items-center gap-[60px] text-white mt-[196px];
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
  .offer__content {
    @apply grid grid-cols-[repeat(2,1fr)] gap-[22px] mt-5;
    display: -ms-grid;
    -ms-grid-columns: 1fr 22px 1fr;
  }
  .offer__img {
    @apply flex items-center justify-center relative;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }
  .offer__img-main {
    @apply max-w-full h-auto relative z-[1];
  }
  .offer__img-bg {
    @apply absolute left-[-20%] top-[-30%] z-[-1] w-[400px] h-[400px] bg-[rgba(156,8,255,0.8156512605042017)] blur-[160px];
    -webkit-filter: blur(160px);
  }
  .offer__img-bg-2 {
    @apply bg-[#1e50ff] blur-[160px] w-[300px] h-[300px] hidden absolute left-[-100px] opacity-80 top-[100px];
    -webkit-filter: blur(160px);
  }
  .offer__title {
    @apply flex items-center flex-col gap-2.5;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
  .offer__title h1 {
    @apply text-[64px] font-semibold leading-[30px];
    font-family: ClashDisplay;
  }
  .offer__title p {
    @apply text-base font-normal leading-6 opacity-75 relative z-[1];
    font-family: ClashDisplay;
  }
  .offer__item-text,
  .offer__items,
  .offer__text {
    @apply flex flex-col;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
  .offer__text {
    @apply gap-[50px] items-center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
  .offer__text-title {
    @apply text-[44px] font-semibold leading-[57.2px] tracking-[1px] text-center w-[642px];
    font-family: ClashDisplay;
  }
  .offer__items {
    @apply gap-8 max-w-[86%];
  }
  .offer__item {
    @apply flex gap-6;
    display: -webkit-box;
    display: -ms-flexbox;
  }
  .offer__item-img {
    @apply w-16 h-16 min-w-[64px] min-h-[64px] bg-[color:var(--purple)] flex items-center justify-center p-1 rounded-lg;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }
  .offer__item-img img {
    @apply max-w-full;
  }
  .offer__item-text {
    @apply gap-1;
  }
  .offer__item-text h3 {
    @apply text-xl font-medium leading-[25px];
    font-family: ClashDisplay;
  }
  .offer__item-text p {
    @apply text-base font-normal leading-[25.6px] opacity-75 text-justify max-w-[397px];
    font-family: Poppins;
  }
  .quantica-slider {
    @apply w-full overflow-hidden relative bg-[color:var(--purple)] mt-20 px-0 py-6;
  }
  .quantica-slider .swiper-wrapper {
    @apply ease-linear;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
  }
  .quantica-slider__slide {
    @apply flex items-center justify-center;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }
  .quantica-slider__slide img {
    @apply max-w-full h-auto;
  }
  .our-work,
  .our-work__title {
    @apply flex flex-col items-center;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    font-family: ClashDisplay;
  }
  .owr-work-section {
    @apply bg-[#6a65FF14] relative z-[1];
  }
  .our-work {
    @apply gap-[82px] pt-[124px] pb-16;
  }
  .our-work__title {
    @apply gap-2.5 mt-3;
  }
  .our-work__title__br {
    @apply hidden;
  }
  .our-work__title h1 {
    @apply text-6xl font-semibold leading-[70px] text-white;
  }
  .our-work__title p {
    @apply text-[21px] font-normal leading-[39px] text-white opacity-75;
  }
  .our-work__items {
    @apply grid grid-cols-[repeat(3,1fr)] gap-y-[116px] gap-x-20;
    display: -ms-grid;
    -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
    -webkit-column-gap: 80px;
    -moz-column-gap: 80px;
  }
  .our-work__item {
    @apply hidden flex-col bg-white rounded-[7px];
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
  .our-work__item-img {
    @apply w-full h-[65%] max-h-[400px] bg-[#eaeef4] flex items-center justify-center p-[30px] rounded-[7px];
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }
  .our-work__item-img img {
    @apply w-full h-full object-contain;
    -o-object-fit: contain;
  }
  .our-work__item-text {
    @apply flex flex-col gap-3.5 pt-[11px] pb-[23px] px-6;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
  .our-work__item-text h4,
  .our-work__item-text p {
    @apply text-lg text-black;
  }
  .our-work__item-text h4 {
    @apply font-medium leading-[18px];
  }
  .our-work__item-text p {
    @apply leading-[22.14px] font-normal text-justify max-w-[325px];
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .our-work__btn {
    @apply w-[-webkit-fit-content] w-[-moz-fit-content] w-fit flex items-center justify-center gap-[23px] bg-white border cursor-pointer px-[75px] py-[22.5px] rounded-lg border-solid border-[#e1e4ed];
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }
  .our-work__btn span {
    @apply relative ml-[-23px] after:transition-[-webkit-transform] after:duration-[var(--transition)] after:transition-transform after:duration-[var(--transition)] after:transition-transform after:duration-[var(--transition),-webkit-transform] after:ease-[var(--transition)] after:content-[url(../assets/icons/arrow.svg)] after:absolute after:-translate-y-2/4 after:left-[calc(100%_+_23px)] after:top-[calc(50%_+_3px)] text-[#6d758f] text-2xl font-semibold leading-5;
  }
  .our-work__btn span::after {
    -webkit-transition: -webkit-transform var(--transition);
    -o-transition: transform var(--transition);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  .our-work__btn span {
    font-family: ClashDisplay;
  }
  .our-work__btn:hover span {
    @apply text-[color:var(--purple)];
  }
  .why-ios {
    @apply flex flex-col items-center gap-10 text-white relative z-[1] px-0 py-[65px];
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
  .why-ios-section {
    @apply relative;
  }
  .why-ios__title {
    @apply text-5xl font-bold leading-[52.8px] text-center max-w-[630px];
    font-family: Inter;
  }
  .why-ios__items {
    @apply grid grid-cols-[1fr_1fr] gap-y-[75px] gap-x-[140px] justify-between mt-[99px];
    display: -ms-grid;
    -ms-grid-columns: 1fr 140px 1fr;
    -webkit-column-gap: 140px;
    -moz-column-gap: 140px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  }
  .why-ios__item {
    @apply flex gap-8;
    display: -webkit-box;
    display: -ms-flexbox;
  }
  .why-ios__item-img {
    @apply bg-[color:var(--purple)] w-[71px] h-[75px] min-w-[71px] min-h-[75px] flex items-center justify-center p-2.5 p-[3px] rounded-lg;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }
  .why-ios__item-img img {
    @apply max-w-full;
  }
  .why-ios__item-text {
    @apply flex flex-col gap-[18px];
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
  .why-ios__item-text h4 {
    @apply text-xl font-medium leading-[25px] text-white;
    font-family: ClashDisplay;
  }
  .why-ios__item-text p {
    @apply text-base font-normal leading-[25.6px] text-white opacity-75 text-justify;
    font-family: Poppins;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .why-ios__bg-img {
    @apply absolute;
  }
  .why-ios__blur-1 {
    @apply left-[-5%] w-[280px] h-[280px] bg-[#1e50ff] blur-[100px] top-[20%];
    -webkit-filter: blur(100px);
  }
  .why-ios__blur-2 {
    @apply right-[-20%] w-[380px] h-[380px] bg-[#9c08ff] blur-[100px] bottom-0;
    -webkit-filter: blur(100px);
  }
  .why-ios__star-1 {
    @apply left-[16%] top-[35%];
  }
  .why-ios__star-2 {
    @apply right-[20%] top-[20%];
  }
  .why-ios__star-3 {
    @apply right-[22%] bottom-[10%];
  }
  .why-ios__moon {
    @apply left-[10%] bottom-[9%];
  }
  .why-ios__moon-2 {
    @apply hidden;
  }
  .reviews-section {
    @apply bg-[#6a65FF14] relative pt-[83px] pb-[68px] px-0;
  }
  .reviews {
    @apply flex flex-col items-center gap-[51px] relative z-[1];
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
  .reviews__title {
    @apply text-5xl font-semibold leading-[62.4px] text-white;
    font-family: ClashDisplay;
  }
  .reviews__slider {
    @apply w-full overflow-hidden ml-5 mt-[21px];
  }
  .reviews__slide {
    @apply bg-black transition-all duration-[var(--transition)] flex flex-col justify-between gap-8 h-auto transition-[border] duration-[var(--transition)] p-6 rounded-lg border-2 border-solid border-transparent hover:border-2 hover:border-solid hover:border-[#515def];
    -webkit-transition: all var(--transition);
    -o-transition: all var(--transition);
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-transition: border var(--transition);
    -o-transition: border var(--transition);
  }
  .reviews__slide-content {
    @apply flex flex-col gap-4;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
  .reviews__slide-head {
    @apply flex items-center gap-4;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
  .reviews__slide-avatar {
    @apply w-[41px] h-[41px] overflow-hidden rounded-[100px];
  }
  .reviews__slide-avatar img {
    @apply w-full h-full object-contain;
    -o-object-fit: contain;
  }
  .reviews__slide-user-info {
    @apply flex flex-col;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
  .reviews__slide-user-info a {
    @apply text-base font-medium leading-6 text-white transition-all duration-[var(--transition)] hover:underline;
    font-family: "IBM Plex Sans", serif;
    -webkit-transition: all var(--transition);
    -o-transition: all var(--transition);
  }
  .reviews__slide-description,
  .reviews__slide-user-info p {
    @apply text-sm font-normal leading-[21px] text-[#9d9d9d];
    font-family: Inter;
  }
  .reviews__slide-votes {
    @apply flex items-center gap-1;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
  .reviews__fiverr {
    @apply flex items-center gap-[19px];
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
  .reviews__fiverr span {
    @apply text-2xl font-semibold leading-[31.2px] text-white transition-all duration-[var(--transition)];
    font-family: ClashDisplay;
    -webkit-transition: all var(--transition);
    -o-transition: all var(--transition);
  }
  .reviews__fiverr:hover span {
    @apply underline;
  }
  .fiverr__icon:hover {
    @apply cursor-[url(../assets/icons/cursor.svg),pointer];
  }
  .reviews__blur {
    @apply absolute w-[500px] h-[360px] bg-white opacity-30 blur-[100px] right-0 bottom-0;
    -webkit-filter: blur(100px);
  }
  .next-project-section {
    @apply px-0 py-20;
  }
  .next-project {
    @apply grid grid-cols-[1fr_1fr] items-center gap-5 bg-[#515def] px-[91px] py-[78px] rounded-3xl;
    display: -ms-grid;
    -ms-grid-columns: 1fr 20px 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
  .next-project__text {
    @apply flex flex-col gap-4 text-white;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
  .next-project__text-title {
    @apply text-[40px] font-bold leading-9;
    font-family: ClashDisplay;
  }
  .next-project__text-description {
    @apply text-lg font-normal leading-[30px] opacity-75;
    font-family: "Red Hat Display", serif;
  }
  .next-project__img {
    @apply flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }
  .next-project__text-btn {
    @apply bg-white text-black transition-all duration-[var(--transition)] border-[none] hover:bg-[#cecece];
    -webkit-transition: all var(--transition);
    -o-transition: all var(--transition);
  }
  .modal {
    @apply hidden fixed w-full h-full overflow-auto z-[100000] px-10 py-0 rounded-none left-0 top-0;
    background: #00000080;
  }
  #video-popup .modal-content {
    @apply relative w-full -translate-y-2/4 h-[-webkit-fit-content] h-[-moz-fit-content] h-fit max-h-[90vh] overflow-hidden pt-[30px] pb-5 px-5 rounded-lg top-2/4;
    background: #fff;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  #video-popup video {
    @apply w-full h-auto max-h-[calc(90vh_-_70px)] object-contain;
    -o-object-fit: contain;
  }
  .close-modal {
    @apply absolute content-[url(../assets/icons/cross.svg)] cursor-pointer transition-[-webkit-transform] duration-[0.7s] ease-[ease] transition-transform duration-[0.7s] ease-[ease] z-10 right-2.5 top-2.5 hover:rotate-180;
    -webkit-transition: -webkit-transform 0.7s ease;
    -o-transition: transform 0.7s ease;
    transition: transform 0.7s ease, -webkit-transform 0.7s ease;
  }
  .close-modal:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
  .talk-popup {
    @apply relative -translate-x-2/4 -translate-y-2/4 h-[-webkit-fit-content] h-[-moz-fit-content] h-fit bg-white overflow-hidden max-w-[874px] h-[94vh] rounded-xl left-2/4 top-2/4;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .talk-popup__content {
    @apply grid grid-cols-[1fr_2fr];
    display: -ms-grid;
    -ms-grid-columns: 1fr 2fr;
  }
  .talk-popup__content::-webkit-scrollbar {
    @apply w-1.5;
  }
  .talk-popup__content::-webkit-scrollbar-thumb {
    background: #6a65ff;
  }
  .talk-popup__content::-webkit-scrollbar-track {
    @apply mx-0 my-5;
  }
  .working-process {
    @apply flex flex-col gap-[52px];
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
  .working-process__title {
    @apply flex items-center gap-10;
    display: -webkit-box;
    display: -ms-flexbox;
  }
  .working-process__title h1 {
    @apply text-[64px] font-semibold leading-[78.72px] text-white;
    font-family: ClashDisplay;
  }
  .working-process__title p {
    @apply text-lg font-normal leading-[27px] text-white max-w-[328px];
    font-family: Poppins;
  }
  .about.container {
    @apply pl-20 pr-[52px] py-0;
  }
  .about-info {
    @apply relative;
  }
  .about-info-content {
    @apply flex gap-[60px] relative z-[1] mt-[210px];
    display: -webkit-box;
    display: -ms-flexbox;
  }
  .mobile-about-text {
    @apply hidden;
  }
  .mobile-about-text__btn {
    @apply text-sm font-normal border border-[color:var(--purple)] w-fit px-[33.5px] py-[5.5px] rounded-[100px] border-solid;
  }
  .about-info__text {
    @apply flex flex-col items-center text-white;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    font-family: ClashDisplay;
  }
  .about-info__img {
    @apply max-w-[400px] w-full h-full object-contain;
  }
  .about-info__text h1 {
    @apply text-[64px] font-semibold leading-[30px] text-center mb-[33px];
  }
  .about-info__text p,
  .about-info__text-mobile {
    @apply text-2xl font-light leading-8 text-justify;
  }
  .about-info__text-mobile {
    @apply text-white max-h-0 overflow-hidden transition-all duration-[var(--transition)];
    font-family: ClashDisplay;
  }
  .about-info-img,
  .about-info-img-2 {
    @apply absolute z-[-1];
  }
  .about-info-img {
    @apply bg-[#1e50ff] blur-[100px] w-[400px] h-[400px] bottom-[-300px] left-0 opacity-70;
    -webkit-filter: blur(100px);
  }
  .about-info-img-3 {
    @apply absolute bg-[#1e50ff] blur-[100px] w-[400px] h-[400px] left-[-15%] top-[-60px] opacity-50;
    -webkit-filter: blur(100px);
  }
  .about-info-img-2 {
    @apply bg-[#9c08ff] blur-[100px] w-[500px] h-[500px] right-[-20%] opacity-50 top-[10%] opacity-30;
    -webkit-filter: blur(100px);
  }
  @media (max-width: 1100px) {
    .about-info-content {
      @apply gap-2.5;
    }
    .container {
      @apply px-5 py-0;
    }
    .our-work__items {
      @apply grid-cols-[repeat(2,1fr)];
      -ms-grid-columns: 1fr 1fr;
    }
    .banner__content {
      @apply flex-col;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
    }
    .banner__text,
    .banner__video {
      @apply w-full;
    }
    .banner__video {
      @apply h-[350px];
    }
    .banner__video-play span,
    .banner__video-play__mobile span {
      @apply w-[50px] h-[50px] min-w-[50px] min-h-[50px];
    }
    .banner__video-play p,
    .banner__video-play__mobile p {
      @apply text-[13px] whitespace-nowrap;
    }
    .banner__text {
      @apply items-center;
      -webkit-box-align: center;
      -ms-flex-align: center;
    }
    .banner__text-description,
    .banner__text-title {
      @apply text-center;
    }
    .banner {
      @apply mt-[150px];
    }
    .offer {
      @apply gap-10 mt-20;
    }
    .services-offer {
      @apply mt-[140px];
    }
    .banner__text-title,
    .next-project__text-title,
    .offer__title h1,
    .our-work__title h1,
    .reviews__title,
    .why-ios__title {
      @apply text-[32px] leading-[35px];
    }
    .reviews__title {
      @apply leading-[41px] px-10 py-0 text-center;
    }
    .reviews {
      @apply gap-10;
    }
    .offer__text-title,
    .our-work__title p,
    .reviews__fiverr span {
      @apply text-[16.5px] leading-[21px] text-center;
    }
    .offer__text-title {
      @apply w-auto;
    }
    .offer__item-img {
      @apply w-6 h-6 min-w-[24px] min-h-[24px] p-1 rounded-[3px];
    }
    .offer__item-text h3 {
      @apply text-[10px] leading-[11px];
    }
    .offer__item-text p {
      @apply text-[8px] leading-[10px];
    }
    .offer__item {
      @apply gap-[9px];
    }
    .quantica-slider {
      @apply mt-14;
    }
    .our-work {
      @apply gap-9 pt-10;
    }
    .our-work__btn {
      @apply px-12 py-3.5;
    }
    .our-work__btn span {
      @apply text-[15px];
    }
    .why-ios__item {
      @apply gap-[18px];
    }
    .why-ios__items {
      @apply grid-cols-[1fr] mt-10;
      -ms-grid-columns: 1fr;
    }
    .reviews-section {
      @apply pt-5 pb-[30px] px-0;
    }
    .fiverr__icon {
      @apply max-w-[30px];
    }
    .why-ios__item-text p {
      @apply text-[11px] leading-4;
    }
    .why-ios__item-img {
      @apply w-11 h-[47px] min-w-[44px] min-h-[47px];
    }
    .why-ios__item-text {
      @apply gap-2.5;
    }
    .why-ios__item-text h4 {
      @apply text-[13px];
    }
    .next-project {
      @apply flex flex-col-reverse gap-[50px];
      display: -webkit-box;
      display: -ms-flexbox;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
    }
    .next-project__text {
      @apply items-center min-w-[250px];
      -webkit-box-align: center;
      -ms-flex-align: center;
    }
    .next-project__text-description,
    .next-project__text-title,
    .offer__title p {
      @apply text-center;
    }
    .offer__items {
      @apply gap-3;
    }
    .about-info__img {
      @apply max-w-[220px];
    }
    .about-info__text p,
    .about-info__text-mobile {
      @apply text-base;
    }
  }
  @media (max-width: 890px) {
    .talk-popup__content {
      @apply grid-cols-[1fr] overflow-y-auto;
      -ms-grid-columns: 1fr;
    }
    .talk-popup,
    .talk-popup__content {
      @apply h-[80vh];
    }
    .offer__img-bg {
      @apply w-[520px] h-[520px] left-[-30%] -top-1/4;
    }
  }
  @media (max-width: 768px) {
    .about.container {
      @apply pl-5 pr-[15px] py-0;
    }
    .about-info__img {
      @apply max-w-[130px] mt-5;
    }
    .about-info__text p,
    .about-info__text-mobile {
      @apply text-[11px] leading-6;
    }
    .about-info__text h1 {
      @apply text-[32px] mb-5;
    }
    .mobile-about-text {
      @apply flex flex-col items-center gap-[25px];
    }
    .about-info__text p span {
      @apply hidden;
    }
    .our-work__item-img img {
      @apply max-h-[350px];
    }
    .about-info-img {
      @apply hidden;
    }
    .our-work__items {
      @apply grid-cols-[1fr] gap-6;
      -ms-grid-columns: 1fr;
    }
    .working-process__title {
      @apply flex-col gap-[5px];
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
    }
    .working-process__title h1 {
      @apply text-[32px] leading-8;
    }
    .working-process__title p {
      @apply text-sm leading-[21px];
    }
  }
  @media (max-width: 480px) {
    .about-info-content {
      @apply mt-[100px];
    }
    .our-work__title__br {
      @apply block;
    }
    .banner__video-play {
      @apply hidden;
    }
    .banner__video-play__mobile {
      @apply flex;
    }
    .about-info {
      @apply mt-[140px];
    }
    .about.container {
      @apply px-[15px] py-0;
    }
    .about-info__text p,
    .about-info__text-mobile {
      @apply text-[11px] tracking-[0.08em];
    }
    .reviews__slide-description,
    .reviews__slide-user-info a,
    .reviews__slide-user-info p {
      @apply text-[8px] leading-3;
    }
    .reviews__slide {
      @apply gap-2.5 p-[13px];
    }
    .modal {
      @apply px-1.5 py-0;
    }
    .banner__blur-img {
      @apply w-full;
    }
    .offer__img-bg {
      @apply w-[290px] h-[290px] -left-10 top-0;
    }
    .banner__blur-1 {
      @apply left-0 -top-5;
    }
    .banner__blur-2 {
      @apply left-0 top-1/4;
    }
    .banner__blur-3 {
      @apply left-0 hidden;
    }
    .why-ios__blur-1 {
      @apply w-[200px] h-[200px];
    }
    .why-ios__blur-2 {
      @apply w-60 h-60 right-[-35%] bottom-[10%];
    }
    .our-work__item:nth-child(-n + 3) {
      @apply block;
    }
    .why-ios__star-1 {
      @apply left-[2%] top-[23%];
    }
    .why-ios__star-2 {
      @apply right-[-2%] top-[37%];
    }
    .why-ios__star-3 {
      @apply right-[20%] bottom-[42%];
    }
    .why-ios__moon-2 {
      @apply block max-w-[34px] right-[18%] top-[40%];
    }
    .reviews__blur {
      @apply w-[260px] h-[190px] top-2/4;
    }
    .offer__content {
      @apply flex w-full;
      display: -webkit-box;
      display: -ms-flexbox;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: end;
    }
    .offer__img {
      @apply absolute max-w-[250px] -left-5;
    }
    .offer__text {
      @apply max-w-[55%] gap-2.5 -mr-5;
    }
    .services-offer {
      @apply gap-0;
    }
    .services-offer .offer__content {
      @apply flex-col items-center gap-0 mt-0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
    }
    .services-offer .offer__content .offer__img {
      @apply static;
    }
    .services-offer .offer__text {
      @apply max-w-full gap-10 max-w-[240px];
    }
    .services-offer .offer__img {
      @apply max-w-[180px];
    }
    .services-offer .offer__img-bg {
      @apply absolute w-[300px] h-[300px] blur-[90px] left-auto right-0 top-1/4;
      -webkit-filter: blur(90px);
    }
    .offer__img-bg-2 {
      @apply block;
    }
  }
  