.about.container {
    padding: 0 52px 0 80px;
}

.about-info {
    position: relative;
}

.about-info-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 60px;
    margin-top: 210px;
    position: relative;
    z-index: 1;
}

.mobile-about-text {
    display: none;
}

.mobile-about-text__btn {
    border-radius: 100px;
    padding: 5.5px 33.5px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid var(--purple);
    width: fit-content;
}

.mobile-about-text.active .mobile-about-text__btn {
    background-color: white;
    position: relative;
}

.mobile-about-text.active .mobile-about-text__btn span {
    color: #6D758F;
    position: relative;
    left: -8px;
}

.mobile-about-text.active .mobile-about-text__btn span::after {
    content: url(/icons/about-arrow-colapse.svg);
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    top: calc(50% + 1px);
    left: calc(100% + 8px);
}

.mobile-about-text.active .mobile-about-text__btn:hover {
    content: url(/icons/about-arrow-colapse-white.svg);
    background-color: transparent;
    border: 1px solid white;
}

.mobile-about-text.active .mobile-about-text__btn:hover span {
    color: white !important;
}

.about-info__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-family: "ClashDisplay";
}

.about-info__img {
    max-width: 400px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-info__text h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    margin-bottom: 33px;
}

.about-info__text-mobile,
.about-info__text p {
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    text-align: justify;
}

.about-info__text-mobile {
    color: white;
    font-family: "ClashDisplay";
}

.about-info__text-mobile {
    max-height: 0;
    overflow: hidden;
    transition: all var(--transition);
}

.mobile-about-text.active .about-info__text-mobile {
    max-height: 1000px;
}

.contact-us-img,
.contact-us-img-2,
.about-info-img-2,
.about-info-img {
    position: absolute;
    z-index: -1;
}

.contact-us-img,
.about-info-img {
    background-color: #1E50FF;
    -webkit-filter: blur(100px);
    filter: blur(100px);
    width: 400px;
    height: 400px;
    left: 0;
    bottom: -300px;
}

.about-info-img-3 {
    position: absolute;
    background-color: #1E50FF;
    -webkit-filter: blur(100px);
    filter: blur(100px);
    width: 400px;
    height: 400px;
    left: -15%;
    top: -60px;
    opacity: 0.5;
}

.about-info-img {
    opacity: 0.7;
}

.contact-us-img-2,
.about-info-img-2 {
    background-color: #9C08FF;
    -webkit-filter: blur(100px);
    filter: blur(100px);
    width: 500px;
    height: 500px;
    right: -20%;
    top: 10%;
    opacity: 0.5;
}

.about-info-img-2 {
    opacity: 0.3;
}
