.contact-us {
    position: relative;
    overflow: hidden;
}

.contact-us-img {
    left: -20%;
    top: 0;
    opacity: 0.5;
    width: 500px;
    height: 500px;
}

.contact-us-img-2 {
    right: -20%;
    bottom: 0;
    opacity: 0.8;
    width: 500px;
    height: 500px;
}

.contact-us__wrapper {
    border-radius: 48px;
    position: relative;
    overflow: hidden;
    margin-bottom: 63px;
    background-color: white;
    padding: 82px 120px 47px 120px;
}

.contact-us__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 80px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    position: relative;
    z-index: 1;
}

.contact-us__content-text,
.contact-us__content-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #1B1B1B;
}

.contact-us__content-info {
    gap: 24px;
}

.contact-us__info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 4px;
}

.contact-us__content-text {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contact-us__content-img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.contact-us__content-text h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 60px;
}

.contact-us__content-text h3 {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 8px;
}

.contact-us__content-text h4 {
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
}

.contact-us__info-item span {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.contact-us__content-form {
    background-color: #F6F6F6CC;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
}

.contact-us__content-form>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #1B1B1B;
}

.contact-us__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
    width: 90%;
}

.contact-us__form input {
    outline: none;
    border: none;
    border-bottom: 1px solid #B8BFB68C;
    padding-bottom: 10px;
    background: transparent;
}

.contact-us__form input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #C1C1C1;
}

.contact-us__form input::-moz-placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #C1C1C1;
}

.contact-us__form input:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #C1C1C1;
}

.contact-us__form input::-ms-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #C1C1C1;
}

.contact-us__form input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #C1C1C1;
}

.contact-us__phone-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
}

.contact-us__phone-div span {
    color: #C1C1C1;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.73px;
}

.contact-us__form textarea {
    resize: none;
}

.contact-us__form button {
    width: 100%;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.6px;
}
