footer {
    background-color: #0D1849;
    padding: 35px 0 190px 0;
}

.footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    position: relative;
}

.footer__logo {
    position: relative;
    max-width: 132px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 237px;
}

.footer__logo img {
    max-width: 100%;
}

.footer__logo::after {
    content: 'Discover new dimensions';
    white-space: nowrap;
    font-family: var(--font-clash-display);
    font-weight: 400;
    color: white;
    position: absolute;
    right: 0;
    font-size: 12px;
    top: 32px;
    left: 69px;
}

.footer__links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
}

.footer__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__column-title,
.footer__column-link {
    font-family: var(--font-clash-display);
    font-size: 14px;
    line-height: 34px;
    color: white;
}

.footer__column-title {
    font-weight: 700;
    margin-bottom: 10px;
}

.footer__column-link {
    opacity: 0.75;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition: all var(--transition);
    -o-transition: all var(--transition);
    transition: all var(--transition);
}

.footer__column-link:hover {
    opacity: 1;
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
}

.instagram::after {
    content: url(/icons/instagram.svg);
    position: absolute;
    left: calc(100% + 4px);
    top: 3px;
}

.whatsApp::after {
    content: url(/icons/whats-app.svg);
    position: absolute;
    left: calc(100% + 4px);
    top: 3px;
}

.facebook::after {
    content: url(/icons/facebook.svg);
    position: absolute;
    left: calc(100% + 4px);
    top: 2px;
}

.whatsApp::after {
    content: url(/icons/whats-app.svg);
    position: absolute;
    left: calc(100% + 4px);
    top: 3px;
}

.footer__copyright {
    font-family: var(--font-inter);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    color: white;
    opacity: 0.75;
    position: absolute;
    bottom: -130px;
    left: 50%;
    transform: translateX(-50%);
}

.mobile-footer-bottom {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mobile-footer-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
}