/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/* .active {
    color: var(--purple);

} */

.d-block {
    display: block !important;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}



@media (max-width: 1100px) {
    .about-info-content {
        gap: 10px;
    }

    .container {
        padding: 0 20px;
    }

    .our-work__items {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
    }

    .banner__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .banner__video,
    .banner__text {
        width: 100%;
    }

    .banner__video {
        height: 350px;
    }

    .banner__video-play__mobile span,
    .banner__video-play span {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
    }

    .banner__video-play__mobile p,
    .banner__video-play p {
        font-size: 13px;
        white-space: nowrap;
    }

    .banner__text {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .banner__text-title,
    .banner__text-description {
        text-align: center;
    }

    .banner {
        margin-top: 100px;
    }

    .offer {
        gap: 40px;
        margin-top: 80px;
    }

    .services-offer {
        margin-top: 140px;
    }

    .client-success-stories__title,
    .next-project__text-title,
    .banner__text-title,
    .faq__title,
    .why-ios__title,
    .our-work__title h1,
    .offer__title h1 {
        font-size: 32px;
        line-height: 35px;
    }

    .client-success-stories__title {
        line-height: 41px;
        padding: 0 40px;
    }

    .client-success-stories {
        gap: 40px;
    }

    .client-success-stories__fiverr span,
    .our-work__title p,
    .offer__text-title {
        font-size: 16.5px;
        line-height: 21px;
        text-align: center;
    }

    .offer__text-title {
        width: auto;
    }

    .offer__item-img {
        width: 24px;
        height: 24px;
        min-width: 24px;
        min-height: 24px;
        border-radius: 3px;
        padding: 4px;
    }

    .offer__item-text h3 {
        font-size: 10px;
        line-height: 11px;
    }

    .offer__item-text p {
        font-size: 8px;
        line-height: 10px;
    }

    .offer__item {
        gap: 9px;
    }

    .quantica-slider {
        margin-top: 56px;
    }

    .our-work {
        padding-top: 40px;
        gap: 36px;
    }

    .our-work__btn {
        padding: 14px 48px;
    }

    .our-work__btn span {
        font-size: 15px;
    }

    .why-ios__item {
        gap: 18px;
    }

    .why-ios__items {
        margin-top: 40px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .client-success-stories__title {
        text-align: center;
    }

    .client-success-stories-section {
        padding: 20px 0 30px 0;
    }

    .fiverr__icon {
        max-width: 30px;
        color: #515DEF;
    }

    .seo__head {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 30px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .seo__title {
        display: none;
    }

    .seo__title-mobile {
        display: block;
    }

    .seo__avatar {
        width: 322px;
        height: 322px;
        min-width: 322px;
        min-height: 322px;
    }

    .seo__info {
        font-size: 18px;
    }

    .seo-timeline__title {
        font-size: 40px;
        line-height: 50px;
    }

    .seo-timeline__item {
        font-size: 10px;
        line-height: 16px;
    }

    .why-ios__item-text p {
        font-size: 11px;
        line-height: 16px;
    }

    .why-ios__item-img {
        width: 44px;
        height: 47px;
        min-width: 44px;
        min-height: 47px;
    }

    .seo-timeline__item::before {
        height: 2px;
    }

    .seo-timeline__item {
        padding-top: 10px;
    }

    .seo-timeline__item.lunch::after {
        font-size: 10px;
        line-height: 10px;
        white-space: nowrap;
        top: -12px;
        letter-spacing: 0.36px;
    }

    .seo-timeline {
        gap: 0;
    }

    .seo-timeline>div:last-of-type {
        margin-top: 15px;
    }

    .seo-timeline__graph {
        margin-top: 10px;
    }

    .why-ios__item-text {
        gap: 10px;
    }

    .faq__accordion-header h2 {
        font-size: 12px;
    }

    .why-ios__item-text h4 {
        font-size: 13px;
    }

    .faq__accordion-header {
        padding: 18px 20px;
    }

    .next-project-section img {
        top: 10px;
        right: -150px !important;
    }

    .next-project {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        gap: 50px;
    }

    .next-project__text {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-width: 250px;
        margin-top: 200px;
    }

    .offer__title p,
    .next-project__text-title,
    .next-project__text-description {
        text-align: center;
    }

    .offer__items {
        gap: 12px;
    }

    .logo {
        margin-left: 10px;
    }

    .about-info__img {
        max-width: 220px;
    }

    .about-info__text-mobile,
    .about-info__text p {
        font-size: 16px;
    }

}

@media (max-width: 890px) {

    .talk-popup__content {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .talk-popup__content {
        overflow-y: auto;
    }

    .talk-popup,
    .talk-popup__content {
        height: 80vh;
    }


    .talk-popup__right {
        height: 100%;
        overflow-y: unset;
    }

    .talk-popup__left-content h1,
    .talk-popup__left-content p {
        text-align: center;
    }

    .talk-popup__first-last-name,
    .talk-popup__budget-checkboxes {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .talk-popup__logo {
        max-width: 146px;
        top: 37px;
    }

    .talk-popup__left-content {
        margin-top: 63px;
    }

    .offer__img-bg {
        width: 520px;
        height: 520px;
        left: -30%;
        top: -25%;
    }

    .contact-us__wrapper {
        border-radius: 18px;
    }

    .contact-us__content {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .contact-us__content-form>p,
    .contact-us__content-text h3,
    .contact-us__content-info {
        display: none;
    }

    .contact-us__form {
        width: 100%;
    }

    .contact-us__content-text h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .contact-us__wrapper {
        padding: 45px;
    }

    .contact-us__content-form {
        padding: 0;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .footer__logo,
    .logo {
        max-width: 160px;
    }

    .footer__logo::after {
        font-size: 8px;
        left: 45px;
        top: 15px;
    }
}

@media (max-width: 768px) {
    .about.container {
        padding: 0 15px 0 20px;
    }

    .about-info__img {
        max-width: 130px;
        margin-top: 20px;
    }

    .about-info__text-mobile,
    .about-info__text p {
        font-size: 11px;
        line-height: 24px;
    }

    .about-info__text h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .mobile-about-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .about-info__text p span {
        display: none;
    }

    .faq__accordion {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .our-work__item-img img {
        max-height: 350px;
    }

    .about-info-img {
        display: none;
    }

    footer {
        padding: 20px 0 40px 0;
    }

    .footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 40px;
        padding: 0 40px;
    }

    .footer__links {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        gap: 76px;
    }

    .footer__links>div:nth-of-type(1),
    .footer__links>div:nth-of-type(4) {
        display: none;
    }

    .mobile-footer-bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .mobile-footer-bottom .footer__column {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .mobile-footer-bottom .footer__column-link,
    .mobile-footer-bottom .footer__column-title {
        text-align: center;
    }

    .footer__copyright {
        position: static;
        padding-top: 24px;
        width: 100%;
        text-align: center;
        transform: none;
    }

    .our-work__items {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .working-process__title {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 5px;
    }

    .working-process-accordion__header {
        gap: 5px;
    }

    .working-process__title h1 {
        font-size: 32px;
        line-height: 32px;
    }

    .working-process__title p {
        font-size: 14px;
        line-height: 21px;
    }

    .working-process__accordion .faq__accordion-header h2 {
        font-size: 13px !important;
    }

    .working-process__accordion .faq__accordion-header span {
        font-size: 18px;
    }

    .working-process__accordion .faq__accordion-item .faq__accordion-content p {
        font-size: 11px;
    }

    .working-process__accordion .faq__accordion-close {
        width: 12px;
        height: 12px;
    }

    .working-process__accordion .faq__accordion-item.active .working-process-accordion__header {
        padding-bottom: 10px;
    }

    .working-process__accordion .faq__accordion-item.active .faq__accordion-header {
        padding-bottom: 10px;
    }

    .working-process__accordion {
        gap: 10px;
    }

    .seo-timeline__items {
        gap: 14px;
    }

    .seo {
        padding-top: 25px;
    }
}

@media (max-width: 950px){
    .burger {
        display: block;
    }

    .menu {
        display: none;
    }
}

@media (max-width: 480px) {
    .nav-right .lets-talk {
        font-size: 9px;
        line-height: 17px;
        padding: 4px 21px;
        width: fit-content;
        min-width: "155px";
        min-height: "48px";
    }

    .mobile-about-text.active .mobile-about-text__btn:hover {
        content: url(/icons/about-arrow-colapse.svg);
        background-color: white;
        border: 1px solid white;
    }

    .mobile-about-text.active .mobile-about-text__btn:hover span {
        color: #6D758F !important;
    }

    .about-info-content {
        margin-top: 100px;
    }

    .our-work__title__br {
        display: block;
    }

    .banner__video-play {
        display: none;
    }

    .banner__video-play__mobile {
        display: flex;
    }

    .contact-us-img,
    .contact-us-img-2 {
        width: 250px;
        height: 250px;
    }

    .contact-us-img {
        left: 0;
        top: 10%;
    }

    .contact-us-img-2 {
        right: 0;
        top: 50%;
    }

    .contact-us__content-text h1 {
        font-size: 16px;
        line-height: 18px;
    }

    .about-info {
        margin-top: 140px;
    }

    .about.container {
        padding: 0 15px;
    }

    .about-info__text-mobile,
    .about-info__text p {
        font-size: 11px;
        letter-spacing: 0.08em;

    }

    .logo::after {
        bottom: -14px;
        font-size: 7px;
    }

    .client-success-stories__slide-user-info a,
    .client-success-stories__slide-description,
    .client-success-stories__slide-user-info p {
        font-size: 8px;
        line-height: 12px;
    }

    .client-success-stories__slide {
        gap: 10px;
        padding: 13px;
    }


    .modal {
        padding: 0 6px;
    }

    .banner__blur-img {
        width: 100%;
    }

    .offer__img-bg {
        width: 290px;
        height: 290px;
        left: -40px;
        top: 0%;
    }

    .banner__blur-1 {
        left: 0;
        top: -20px;
    }

    .banner__blur-2 {
        left: 0;
        top: 25%;
    }

    .banner__blur-3 {
        left: 0;
    }

    .banner__blur-3 {
        display: none;
    }

    .seo-section {
        overflow: hidden;
    }

    .seo-blur-1 {
        display: none;
    }

    .seo-blur-2,
    .seo-blur-3,
    .seo-blur-4 {
        width: 140px;
        height: 140px;
        opacity: 1;
        -webkit-filter: blur(80px);
        filter: blur(80px);
    }

    .seo-blur-2 {
        top: 20%;
        right: 0;
    }

    .seo-blur-4 {
        bottom: 0;
    }

    .seo-star-1,
    .seo-star-2,
    .seo-star-3 {
        max-width: 30px;
    }

    .seo-star-1 {
        top: 44%
    }

    .seo-star-2 {
        right: auto;
        left: 6%;
        bottom: 24%;
    }

    .seo-star-3 {
        left: auto;
        right: 2%;
        bottom: 27%;
    }

    .why-ios__blur-1 {
        width: 200px;
        height: 200px;
    }

    .why-ios__blur-2 {
        width: 240px;
        height: 240px;
    }

    .why-ios__blur-2 {
        right: -35%;
        bottom: 10%;
    }

    .our-work__item:nth-child(-n+3) {
        display: block;
    }

    .why-ios__star-1 {
        top: 23%;
        left: 2%;
    }

    .why-ios__star-2 {
        top: 37%;
        right: -2%;
    }

    .why-ios__star-3 {
        right: 20%;
        bottom: 42%;
    }

    .why-ios__moon-2 {
        display: block;
        right: 18%;
        max-width: 34px;
        top: 40%;
    }

    .client-success-stories__blur {
        width: 260px;
        height: 190px;
        top: 50%;
    }

    .offer__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
        width: 100%;
    }

    .offer__img {
        position: absolute;
        max-width: 250px;
        left: -20px;
    }

    .offer__text {
        max-width: 55%;
        gap: 10px;
        margin-right: -20px;
    }

    .services-offer {
        gap: 0;
    }

    .services-offer .offer__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 0;
        gap: 0;
    }

    .services-offer .offer__content .offer__img {
        position: static;
    }

    .services-offer .offer__text {
        max-width: 100% !important;
    }

    .services-offer .offer__img {
        max-width: 180px;
    }

    .services-offer .offer__text {
        gap: 40px;
        max-width: 240px;
    }

    .services-offer .offer__img-bg {
        position: absolute;
        width: 300px;
        height: 300px;
        left: auto;
        right: 0;
        top: 25%;
        -webkit-filter: blur(90px);
        filter: blur(90px);
    }

    .offer__img-bg-2 {
        display: block;
    }

    .footer {
        padding: 0;
    }

    .footer__links {
        padding: 0 55px;
        gap: 0;
    }
}

@media (max-width: 391px) {
    .logo {
        max-width: 140px;
    }
}

/* Blur */
.blur {
  position: absolute;
  z-index: -10;
}

@media (max-width: 600px) {
  .blur {
    opacity: 0;
    visibility: hidden;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .blur {
    opacity: 0;
    visibility: hidden;
  }
}

@media (min-width: 901px) {
  .blur {
    opacity: 0.5;
    visibility: visible;
  }
}