.seo-section {
    position: relative;
}

.seo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 41px;
    position: relative;
    z-index: 1;
    padding: 53px 0 30px 0;
}

.seo__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 95px;
}

.seo__avatar {
    width: 554px;
    height: 554px;
    min-width: 554px;
    min-height: 554px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    border-radius: 10000px;
}

.seo__avatar img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.seo__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: white;
    max-width: 563px;
    font-family: "ClashDisplay";
}

.seo__title {
    font-size: 70px;
    font-weight: 700;
    line-height: 91px;
}

.seo__info {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    color: #C0C4CD;
}

.seo__info span {
    font-weight: 600;
    font-size: 32px;
}

.seo-timeline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 48px;
}

.seo-timeline__title {
    font-family: "ClashDisplay";
    font-size: 64px;
    font-weight: 600;
    line-height: 124.8px;
    color: white;
}

.seo-timeline__graph {
    width: 100%;
    margin-top: 40px;
}

.seo-timeline__graph img {
    width: 100%;
    height: auto;
}

.seo-timeline__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 52px 1fr 52px 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 52px;
    margin-top: 20px;
}

.seo-timeline__item {
    position: relative;
    font-family: "ClashDisplay";
    font-size: 32px;
    font-weight: 300;
    line-height: 30px;
    color: #C0C4CD;
    padding-top: 30px;
}

.seo-timeline__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7.5px;
    background-color: white;
}

.seo-timeline__item.lunch::after {
    content: 'Quantica Lunch';
    font-family: "ClashDisplay";
    font-size: 37.52px;
    font-weight: 600;
    line-height: 37.52px;
    letter-spacing: 1.35px;
    color: white;
    position: absolute;
    top: -44px;
    left: 0;
}

.seo-bg-img {
    position: absolute;
}

.seo-blur-1 {
    top: 10%;
    right: 10%;
    width: 313px;
    height: 313px;
    background-color: #1E50FF;
    opacity: 0.8;
    -webkit-filter: blur(140px);
    filter: blur(140px);
}

.seo-blur-2 {
    top: 40%;
    left: 0%;
    opacity: 0.5;
    width: 260px;
    height: 260px;
    background-color: #9C08FF;
    -webkit-filter: blur(140px);
    filter: blur(140px);
}

.seo-blur-3 {
    bottom: 5%;
    right: 0;
    opacity: 0.5;
    width: 400px;
    height: 400px;
    background-color: #9C08FF;
    -webkit-filter: blur(140px);
    filter: blur(140px);
}

.seo-blur-4 {
    bottom: -10%;
    left: 0;
    opacity: 0.6;
    width: 220px;
    height: 220px;
    background-color: #1E50FF;
    -webkit-filter: blur(100px);
    filter: blur(100px);
}

.seo-star-1 {
    top: 40%;
    left: 30%;
}

.seo-star-2 {
    right: 0;
    bottom: 15%;
}

.seo-star-3 {
    left: 12%;
    bottom: 14%;
}
